.jumbotron {
    background-color: #6666FA;
    color: white;
    border-radius: 0%;
}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: 200;
    font-size: 15pt;
}

.btn {
    background-color: #6666FA;
    border-color: #6666FA;
}

.btn:hover {
    background-color: #5454d0;
    border-color: #5454d0;
}